<mat-toolbar color="primary">
    <button mat-raised-button color="primary" class="SidebarToggler" (click)="toggleSidebar()">Sidebar</button>
    <a class="PrimarneNavKontrole" mat-button routerLink="./" routerLinkActive="active" *ngIf="loginovan" [routerLinkActiveOptions]="{ exact: true }">Pocetna</a>
    <a class="PrimarneNavKontrole" mat-button routerLink="Login" routerLinkActive="active" *ngIf="!loginovan">Login</a>
    <button mat-button (click)="logout()" *ngIf="loginovan">Logout</button>
    <a class="PrimarneNavKontrole" mat-button routerLink="Sastanak" routerLinkActive="active" *ngIf="loginovan">Sastanci</a>
    <a class="PrimarneNavKontrole" mat-button routerLink="Vozila" routerLinkActive="active" *ngIf="upravnik">Vozila</a>
    <a class="PrimarneNavKontrole" mat-button routerLink="Popravke" routerLinkActive="active" *ngIf="mehanicar || sluzbenik">Popravke</a>
    <a class="PrimarneNavKontrole" mat-button routerLink="Korisnici" routerLinkActive="active" *ngIf="sluzbenik || upravnik">Korisnici</a>
    <a class="PrimarneNavKontrole" mat-button routerLink="Radnici" routerLinkActive="active" *ngIf="upravnik">Radnici</a>
    
</mat-toolbar>

<app-sidebar [prikaziSidebar]="prikaziSidebar"></app-sidebar>

<router-outlet></router-outlet>

