
<mat-toolbar color="primary" class="Nav">
    <span>Rent a Car</span>
    <div class="spacer"></div>
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Pocenta</a>
    <a mat-button routerLink="Profil" routerLinkActive="active" *ngIf="logedin">Profil</a>
    <a mat-button routerLink="Login" routerLinkActive="active" *ngIf="!logedin">Login</a>
    <button mat-button *ngIf="logedin" (click)="logout()">Logout</button>
    <a mat-button routerLink="Centri" routerLinkActive="active">Centri</a>
</mat-toolbar>
<router-outlet></router-outlet>
