<form class="formaKorisnikRegistracija" [formGroup]="registracijaForm">
    <mat-form-field>
        <input placeholder="ime" matNativeControl formControlName="ime">
        <mat-error *ngIf="ime?.errors?.['required']">Niste uneli ime</mat-error>
        <mat-error *ngIf="ime?.errors?.['pattern']">Ime ne sme da sadrzi brojeve</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input placeholder="prezime" matNativeControl formControlName="prezime">
        <mat-error *ngIf="prezime?.errors?.['required']">Niste uneli prezime</mat-error>
        <mat-error *ngIf="prezime?.errors?.['pattern']">Prezime ne sme da sadrzi brojeve</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input placeholder="jmbg" matNativeControl formControlName="jmbg">
        <mat-error *ngIf="jmbg?.errors?.['pattern']">Samo brojevi sacinjavaji jmbg</mat-error>
        <mat-error *ngIf="jmbg?.errors?.['required']">Mora da unesete jmbg</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input placeholder="email" matNativeControl formControlName="email">
        <mat-error *ngIf="email?.errors?.['required']">Mora da unesete email</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Niste uneli validan email</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input placeholder="lozinka" type="password" matNativeControl formControlName="lozinka">
        <mat-error *ngIf="lozinka?.errors?.['pattern']">Barem 8 karaktera, veliko slovo , malo slovo, neki simbol</mat-error>
        <mat-error *ngIf="lozinka?.errors?.['required']">Mora da unesete lozinku</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input placeholder="potvrdi lozinku" type="password" matNativeControl formControlName="ponovljenaLozinka">
        <mat-error *ngIf="ponovljenaLozinka?.errors?.['pattern']">Barem 8 karaktera, veliko slovo , malo slovo, neki simbol</mat-error>
        <mat-error *ngIf="ponovljenaLozinka?.errors?.['required']">Mora da ponovite lozinku</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input placeholder="broj telefona" matNativeControl formControlName="brojTelefona">
        <mat-error *ngIf="brojTelefona?.errors?.['pattern']">Los broj telefona</mat-error>
    </mat-form-field>
    
</form>
<div class="KontroleRegistracija">
    <button mat-raised-button color="primary" (click)="registrujSe()">Registruj se</button>
    <a mat-raised-button color="warn" routerLink="../Login">Odustani</a>
</div>
